<div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName" />
    </form>
</div>

<div class="containter" *ngIf="weatherData">
    <div class="upper-data">
        <img src="../assets/hot.jpg" *ngIf="weatherData.days[0].temp > 15" />
        <img src="../assets/cold.jpg" *ngIf="weatherData.days[0].temp <= 15" />

        <div class="weather-data">
            <div class="location">{{ weatherData.address }}</div>
            <div class="temperature">{{ weatherData.days[0].temp | number: '1.0-0' }}°C</div>
        </div>
    </div>

    <div class="lower-data">
        <div class="more-info-label">More information</div>

        <div class="more-info-container">
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/min.png" alt="" />
                    <span>min</span>
                </div>

                <div class="info-block-value">{{ weatherData.days[0].tempmin }}°C</div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/max.png" alt="" />
                    <span>max</span>
                </div>

                <div class="info-block-value">{{ weatherData.days[0].tempmax }}°C</div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/humidity.png" alt="" />
                    <span>humidity</span>
                </div>

                <div class="info-block-value">{{ weatherData.days[0].humidity }}%</div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/wind.png" alt="" />
                    <span>wind</span>
                </div>

                <div class="info-block-value">{{ weatherData.days[0].windspeed }}km/h</div>
            </div>
        </div>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->
